$primary: hsl(180, 5%, 8%);
$secondary: hsl(0, 0%, 99%);
$ash: hsl(0, 0%, 13%);
$darker:hsl(0, 0%, 0%);
$txt-light: hsl(0, 0%, 100%);
$txt-md-light: hsl(0, 0%, 87%);
$txt-dark: hsl(180, 5%, 8%);
$txt-darker:hsl(0, 0%, 0%);
$bg-dark: hsl(180, 5%, 8%);
$txt-hover-light: hsl(0, 0%, 50%);
$bg-light: hsl(0, 0%, 99%);
$bg-md-light: hsl(0, 0%, 87%);
$bg-overlay: hsla(180, 5%, 8%, 0.8);
$bg-ash: hsl(0, 0%, 13%);
$bg-darker:hsl(0, 0%, 0%);
$bg-hover-light: hsl(0, 0%, 50%) ;
$bg-hover-dark: hsl(0, 0%, 10%);
$hr: hsla(0, 0%, 90%, 0.5);

$cursor-col: rgb(140, 140, 140);
$cursor-col-inner: rgb(140, 140, 140);
$cursor-col-hover: rgb(140, 140, 140);